@tailwind base;
@tailwind components;
@tailwind utilities;

#studentTable_wrapper {
    @apply p-10 text-black bg-white rounded-lg; /* append existing styles */
}

#studentTable_filter label input {
    @apply py-2 mb-5 text-black bg-white rounded-lg outline outline-1; /* append existing styles */
}

#announcementTable_wrapper {
    @apply p-10 text-black bg-white rounded-lg; /* append existing styles */
}

#announcementTable_filter label input {
    @apply py-2 mb-5 text-black bg-white rounded-lg outline outline-1; /* append existing styles */
}

.dataTable thead tr th {
    @apply text-center;
}

.page-break {
    page-break-after: always;
}

/* Add custom CSS styles for the Instagram-like box */
.instagram-box {
    width: 500px; /* Adjust the width as needed */
    border-radius: 20px; /* Adjust the border radius as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    overflow: hidden; /* Clip the corners to create rounded edges */
}

.carousel-indicator-container {
    position: absolute;
    bottom: 1px; /* Adjust this value to control the vertical position of the indicators */
    left: 0;
    right: 0;
    align-items: center;
}

.carousel-indicator {
    width: 8px;
    height: 8px;
    margin: 0 2px; /* Add spacing between indicators */
    border-radius: 50%;
    cursor: pointer;
}

/* Ensure images maintain their aspect ratio within the carousel */
.carousel-slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.h-300 {
    height: 300px;
}

.carousel-indicator-container {
    position: absolute;
    bottom: 10px; /* Adjust this value to control the vertical position of the indicators */
    left: 0;
    right: 0;
}

figure {
    width: 40%;
    padding-top: 3%;
    padding-bottom: 3%;
}

img {
    width: 100%;
}

figcaption {
    word-wrap: break-word;
    text-align: center;
    font-size: 2vmin;
    margin-top: 0.5vmin;
}
